:root {
  --main-pink: #d82a4e;
  --main-green: yellowgreen;
}

.first__page {
  /* background: url("../Images/home-bg.jpg") center center no-repeat; */
  background: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)),
    url("../Images/home-bg2.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav-link {
  color: white;
  margin: 0 15px;
}
.nav-link:hover {
  color: var(--main-pink);
}

.login_btn {
  border: 2px solid var(--main-pink);
  border-radius: 0px;
  background-color: var(--main-pink);
}

.first__page .card-body p {
  color: var(--main-pink);
}

.first__page .card:hover {
  background-color: var(--main-pink) !important;
}
.first__page .card:hover h5,
.first__page .card:hover p {
  color: white;
}

.home__footer .nav-link,
.coursesPage__footer .nav-link {
  margin: -8px 0;
  font-size: 15px;
}
.home__footer .nav-link:hover,
.coursesPage__footer .nav-link:hover {
  color: var(--main-pink) !important;
}

.codingExample-first__page {
  background: linear-gradient(rgba(16, 29, 44, 0.75), rgba(16, 29, 44, 0.75)),
    url("../Images/codingExample-Page-bg.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.srearch_btn {
  border: 2px solid black;
  border-radius: 0px;
  background-color: black;
}
.codingExample__footer .nav-link {
  margin: -8px 0;
  font-size: 15px;
  color: black;
}
.codingExample__footer p span:hover {
  color: var(--main-pink) !important;
  cursor: pointer;
}

.courses-first__page {
  background: linear-gradient(rgba(16, 29, 44, 0.75), rgba(16, 29, 44, 0.75)),
    url("../Images/coursesPage-bg.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}

.ebook-first__page {
  background: linear-gradient(rgba(16, 29, 44, 0.75), rgba(16, 29, 44, 0.75)),
    url("../Images/ebookPage-bg.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.courses-second__page .login {
  background-color: var(--main-pink);
  width: 700px;
  height: 580px;
}
.courses-second__page .login_from {
  background-color: white;
  width: 600px;
}
.courses-second__page .form-control {
  margin: 20px 0;
  padding: 20px 10px;
  border: none;
  background-color: whitesmoke;
}
